
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-top {
  background-image: url(images/background-toop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 1px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.text-decoration-none {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 68px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.btn--primary {
  background-color: #EF2A82;
  color: #FFFFFF;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid #8794BA;
  color: #8794BA;
}

.c-secondary {
  color: #8794BA;
}

.c-white {
  color: #FFFFFF;
}

.vector1 {
  width: 1438px;
  height: 1438px;
  top: -95px;
  left: 1470px;
  gap: 0px;
  opacity: 0.07px;
  position: absolute;
}

/* Estilos generales */
.header {
  padding-top: 50px;
  padding-bottom: 20px;
}

.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.header .nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.header .menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #8794BA;
}

.header .header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header .header__btn {
  width: 160px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header .header__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }

  .header .header__nav {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .header .nav__menu {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 10px 0;
  }

  .header .menu__link {
    font-size: 14px;
    line-height: 16px;
    color: #8794BA;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .header .header__login {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .header .header__btn {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media (max-width: 480px)
 {
  .header {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .header .header__content {
    padding: 0 10px;
  }

  .header .nav__menu {
    gap: 10px;
    padding: 5px 0;
  }

  .header .menu__link {
    font-size: 12px;
    padding: 5px 0;
  }

  .header .header__login {
    gap: 10px;
   }
  }

  .main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .monitor-your {
    text-align: left;
    margin-top: 120px;
    margin-left: 430px;
    margin-right: 370px;
    margin-bottom: 250px;
    flex: 1;
  }
  
  .monitor h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #FFFFFF;
    margin: 90px 0 30px 200px;
  }
  
  .monitor p {
    font-size: 18px;
    line-height: 1.5;
    color: #8794BA;
    margin: 0 0 70px 200px;
    text-align: justify;
  }
  
  .cta-button {
    display: block;
    margin-left: 200px;
    margin-bottom: 50px; 
    padding: 16px 90px;
    border: none; 
    border-radius: 68px; 
    cursor: pointer;
    background-color: #EF2A82;
    color: #fff; 
  }
  
  .images {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0px;
  }
  
  .images img {
    width: 120%;
    height: auto;
    margin-right: -1%; 
  }
  
  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .monitor-your {
      margin-top: 60px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 50px;
    }
  
    .monitor h1 {
      font-size: 32px;
      line-height: 1.2;
      margin: 40px 0 20px 0;
      text-align: center;
    }
  
    .monitor p {
      font-size: 16px;
      margin: 0 0 30px 0;
      text-align: justify;
      padding: 0 20px;
    }
  
    .cta-button {
      margin-left: 0;
      margin-bottom: 30px;
      padding: 12px 60px;
      text-align: center;
    }
  
    .images {
      justify-content: center;
      margin-top: 30px;
    }
  
    .images img {
      width: 100%;
      margin-right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .monitor-your {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 30px;
    }
  
    .monitor h1 {
      font-size: 24px;
      line-height: 1.2;
      margin: 20px 0 10px 0;
      text-align: center;
    }
  
    .monitor p {
      font-size: 14px;
      margin: 0 0 20px 0;
      text-align: justify;
      padding: 0 10px;
    }
  
    .cta-button {
      margin-left: 0;
      margin-bottom: 20px;
      padding: 10px 40px;
      text-align: center;
      justify-content:center;
    }
  
    .images img {
      width: 90%;
      margin-right: 0;
    }
  }




  .structure {
    margin-top: 3px;
    margin-left: 210px;
    margin-right: 210px;
    gap: 100px;
  }
  
  h2 {
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    padding-left: 40px;
  }
  
  .features p {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 80px;
    color: #8794BA;
    line-height: 27px;
  }
  
  .parrafo {
    margin-left: 210px;
    margin-right: 210px;
  }
  
  .feature-grid-1 {
    margin-left: 210px;
    margin-right: 210px;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 60px;
    margin-right: 80px;
  }
  
  .feature-grid div h3 {
    font-weight: 600;
    margin-right: 135px;
    text-align: center;
    line-height: 1.8;
    margin-top: 50px;
    margin-left: 140px;
  }
  
  .feature-grid div svg {
    margin-left: 220px;
  }
  
  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .structure {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 20px;
      gap: 20px;
    }
  
    h2 {
      font-size: 30px;
      margin-top: 50px;
      padding-left: 0;
    }
  
    .features p {
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 40px;
      line-height: 24px;
      padding: 0 20px;
    }
  
    .parrafo,
    .feature-grid-1 {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .feature-grid {
      margin-left: 10px;
      margin-right: 10px;
      gap: 15px;
      padding: 10px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .feature-grid div h3 {
      margin-right: 0;
      margin-left: 0;
      margin-top: 20px;
      font-size: 18px;
    }
  
    .feature-grid div svg {
      margin-left: 0;
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .structure {
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  
    h2 {
      font-size: 24px;
      margin-top: 20px;
      padding-left: 0;
    }
  
    .features p {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 20px;
      line-height: 20px;
      padding: 0 10px;
    }
  
    .parrafo,
    .feature-grid-1 {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .feature-grid {
      margin-left: 5px;
      margin-right: 5px;
      gap: 10px;
      padding: 5px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  
    .feature-grid div h3 {
      margin-right: 0;
      margin-left: 0;
      margin-top: 10px;
      font-size: 16px;
    }
  
    .feature-grid div svg {
      margin-left: 0;
      display: flex;
      justify-content: center;
    }
  }







  .automated-one {
    margin-left: 210px;
    margin-right: 210px;
  }
  
  .automated {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto {
    flex: 1;
    padding: 20px;
  }
  
  .texto h2 {
    font-size: 3.0em;
    margin-top: 5px;
    text-align: justify;
    line-height: 1.1;
    margin-left: 95px;
    margin-right: 100px;
    color: black;
  }
  
  .texto p {
    font-size: 1.0em;
    margin-top: 40px;
    text-align: justify;
    line-height: 1.8;
    margin-left: 125px;
    margin-right: 100px;
    color: #8794BA;
  }
  
  .imagen {
    flex: 1;
    padding: 20px;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  .automated1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .automated2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .automated-one {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .automated,
    .automated1,
    .automated2 {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .texto {
      padding: 10px;
    }
  
    .texto h2 {
      font-size: 2.0em;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      line-height: 1.2;
    }
  
    .texto p {
      font-size: 1.0em;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: justify;
      line-height: 1.5;
    }
  
    .imagen {
      padding: 10px;
      margin-top: 20px;
    }
  
    .imagen img {
      margin-left: 0;
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .automated-one {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .texto h2 {
      font-size: 1.8em;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
    }
  
    .texto p {
      font-size: 0.9em;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      line-height: 1.4;
    }
  
    .imagen {
      padding: 5px;
    }
  
    .imagen img {
      margin-left: 0;
      width: 100%;
    }
  }




  article {
    background-image: url(images/background-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
  }

/*primera carta*/
/*pricing plans*/
/*starter*/

.pricing-plans {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.pricing-plans__info .c-secondary{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}


.pricing-plans .pricing-plans__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.pricing-plans .pricing-plans__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-plans .pricing-plans__cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.pricing-plans .pricing-plans__card {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 50px 60px 70px 60px;
  max-width: 340px;
  width: 100%;
  background-color: #0F1F4B;
  border-radius: 30px;
}


.pricing-plans__card .card__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__header h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.card__header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  
}

.pricing-plans__card .card__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 28px;
  border-top: 1px solid #2A407C;
}

.card__content .card__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content p {
  font-size: 60px;
  font-weight: 700;;
  text-align: center;
}

.card__price small{
  font-size: 30px;
}


.card__content span {
  font-size: 16px;
  text-align: center;
}

   





/*Segunda carta*/
/*Standard*/
.pricing-plans {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.pricing-plans__info .c-secondary{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}


.pricing-plans .pricing-plans__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.pricing-plans .pricing-plans__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-plans .pricing-plans__cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.pricing-plans .pricing-plans__cardd{
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 50px 60px 70px 60px;
  max-width: 340px;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 3px 29px 35px -29px rgba(0,0,0,0.75);-moz-box-shadow: 3px 29px 70px -29px rgba(0,0,0,0.75); box-shadow: 3px 23px 80px -29px rgba(0,0,0,0.75);
}

.pricing-plans .pricing-plans__cardd :hover{
  color: #f376ae;
}


.pricing-plans__cardd .card__headerd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__headerd h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #172755;
}

.card__headerd p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  
}

.pricing-plans__cardd .card__contentd {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 28px;
  border-top: 1px solid #D3D9E9;
  ;
}

.card__contentd .card__priced {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__contentd p {
  font-size: 60px;
  font-weight: 700;;
  text-align: center;
  color: #172755;
}

.card small {
  font-size: 30px;
}

.card__contentd span {
  font-size: 16px;
  text-align: center;
}

.card__contentd a {
  color: #FFFFFF;
  background-color: #EF2A82;
  border: #EF2A82;
}

.card__contentd button :hover{
  background-color: aqua;
  
}



/*tercera carta*/
/*Premium*/
.pricing-plans {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
  position: relative;
}

.pricing-plans__info .c-secondary{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}


.pricing-plans .pricing-plans__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.pricing-plans .pricing-plans__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-plans .pricing-plans__cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.pricing-plans .pricing-plans__card {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 50px 60px 70px 60px;
  max-width: 340px;
  width: 100%;
  background-color: #0F1F4B;
  border-radius: 30px;
  position: relative;

}


.pricing-plans__card .card__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__header h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.card__header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  
}

.pricing-plans__card .card__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 28px;
  border-top: 1px solid #2A407C;
}

.card__content .card__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content p {
  font-size: 60px;
  font-weight: 700;;
  text-align: center;
}

.card__price small{
  font-size: 30px;
}

.card__content span {
  font-size: 16px;
  text-align: center;
}


@media (max-width: 768px) {
  .pricing-plans {
    gap: 50px;
    margin-top: 50px;
  }

  .pricing-plans .pricing-plans__cards {
    flex-direction: column;
    gap: 50px;
  }

  .pricing-plans .pricing-plans__card {
    padding: 30px;
    max-width: 100%;
  }

  .card__header h3 {
    font-size: 24px;
  }

  .card__header p {
    font-size: 16px;
  }

  .card__content p {
    font-size: 40px;
  }

  .card__price small {
    font-size: 20px;
  }
}



 
/*footer*/
.pricing-plans__footer{

 margin-left: 250px;
 margin-right: 210px;
 margin-bottom: 110px;

}

.border{
  border-top: 1px solid #2A407C;
  margin-bottom: 50px;
  margin-left: 370px;
  margin-right: 370px;
}


.footer {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px;
}

.footer .nav__menu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.footer .menu1__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #8794BA;
}


.footer-icons {
  text-align: center; 
  margin-top: 20px; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

li {
  margin-bottom: 8px; 
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px; 
}




/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
  .pricing-plans__footer {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .border {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer .footer__nav {
    gap: 20px;
  }

  .footer .menu1__link {
    font-size: 12px;
    gap: 20px;
  }

  .svgg img {
    margin-left: 10px;
    margin-top: 10px;
  }
}


/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
  }

  .social-icons li {
    margin-right: 10px; 
  }

  .svgg img {
    display: none; 
  }
}
