

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body { font-family: "Roboto", sans-serif; font-weight: 400; font-style: normal; }

/* .navbar {  padding: 20px 0; position: fixed; top: 20px; width: 100%;z-index: 100;} */

/* HELPERS */

.container {
  max-width: 1200px;
  padding: 0 10 px;
  margin: 0 auto;
}

.text-decoration-none {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 68px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.btn--primary {
  background-color: #EF2A82;
  color: #FFFFFF;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid #8794BA;
  color: #8794BA;
}

.c-secondary {
  color: #8794BA;
}


.vector{ 
  width: 660px;
  height: 660px;
  top: -121px;
  left: -100px;
  gap: 0px;
  opacity: 0.07px;  
  position: absolute;
  }
  

.vector1{ 
width: 1438px;
height: 1438px;
top: -95px;
left: 1470px;
gap: 0px;
opacity: 0.07px;
position: absolute;

}


/* Estilos generales */
.header {
  background-color: #172755;
  padding-top: 50px;
  padding-bottom: 20px;
}

.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.header .nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.header .menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #8794BA;
}

.header .header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header .header__btn {
  width: 160px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header .header__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .header__nav {
    width: 100%;
    justify-content: space-between;
  }
  
  .header .nav__menu {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .header .header__login {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .header .header__btn {
    width: 100%;
    text-align: center;
  }
}


.main {
  background-color: #172755;
  border-bottom-right-radius: 100%;
  border-right: solid 20px #EF2A82;  
  border-bottom: solid 20px #EF2A82;  
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Asegura que los elementos se ajusten en dispositivos móviles */
}

.monitor {
  text-align: left;
  flex: 1;
  min-width: 300px; 
  margin-top: -210px;/* Asegura que el contenido se ajuste en pantallas más pequeñas */
}

.monitor h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #FFFFFF;
  margin: 90px 0 30px 200px;
}

.monitor p {
  font-size: 16px;
  line-height: 1.5;
  color: #8794BA;
  margin: 0 0 30px 200px;
  text-align: justify;
}

.cta-button {
  display: block;
  margin-left: 200px;
  margin-bottom: 50px; 
  
  padding: 10px 80px;border: none; 
  border-radius: 68px; cursor: pointer;
  background-color: #EF2A82;
  color: #fff; /* Añade margen inferior para espacio entre el botón y el contenido */
}

.images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px; /* Asegura que el contenido se ajuste en pantallas más pequeñas */
 
}
 

.images img {
  width: 100%;
  max-width: 1100px; /* Limita el tamaño máximo de la imagen */
  height: auto;
  margin-right: -19%; /* Mantiene la proporción de la imagen */
  position: relative;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: flex-start;
  }

  .monitor {
    text-align: center;
    margin: 0 auto;
  }

  .monitor h1,
  .monitor p,
  .cta-button {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .monitor h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-top: 20px;
    text-align: center;
  }

  .monitor p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 20px;
  }

  .cta-button {
    width: 100%;
    max-width: 300px;
    margin: 20px auto 50px auto;
    padding: 10px 80px;border: none; 
    border-radius: 68px; cursor: pointer;
    background-color: #EF2A82;
    color: #fff;  /* Centra el botón y añade espacio superior e inferior */
  }

  .images {
    margin: 20px auto;
  }

  .images img {
    margin-top: 0;
  }
}



h2 {
   text-align: center; 
  margin-top: 100px; 
  font-weight: 700; 
  font-size: 40px; 
  padding-left: 40px; 
}

.features p { 
  text-align: center;
   color:black; 
   font-size: 18px; 
   font-weight: 400; 
   margin-top: 25px;
    margin-bottom: 80px;
    color: #8794BA;
  line-height: 27px;
  
  }

.feature-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
   gap: 20px;
   padding: 20px;
   margin-left: 60px; 
   margin-right: 80px;
   }

.feature-grid div h3 { 
  font-weight: 600; 
  margin-right: 135px; 
  text-align: center;
   line-height: 1.8; 
   margin-top: 50px;
   margin-left: 140px;
  }

.feature-grid div svg {
  margin-left: 180px;
}





.automated {
    display: flex;
    flex-direction: row; /* Alinear en fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
}

.texto {
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Espaciado interior para separar del borde */
}

.texto h2 {
  font-size: 3.0em; 
  margin-top: 5px; 
  text-align: justify; 
  line-height: 1.1; 
  margin-left: 95px; 
  margin-right: 100px; 
  color: black;
}

.texto p {
  font-size: 1.0em;
  margin-top: 40px;
  text-align: justify; 
  line-height: 1.8;
  margin-left: 125px;
  margin-right: 100px; 
  color: #8794BA;
}



.imagen {
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px; /* Espaciado interior para separar del borde */
}

.imagen img {
    max-width: 100%; /* Imagen no sobrepasa el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


.footer {
  background-color:#172755;
  padding: 30px 0;
}

.footer-1 {
  max-width: 1140px;
  margin: 0 auto;
}

.col h4{
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;

}

.col p {
  color:#8794BA;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;


}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin-bottom: 10px;
}
.list-unstyled a {
  color: #fff;
  text-decoration: none;
}

.end { 
 text-align: center;
}












